.aboutBody{
    background-color: lightgrey;
     width: 800px;
     height: 350px;
     border: 2px solid grey;
     padding: 25px;
     margin: 25px;
     align-content:center;
     position: fixed;
     top: 40%;
     left: 27%;
     margin-top: -50px;
     margin-left: -100px;   
}


.footerp{

    margin-top: 33%;
    text-align: center;
   
  }
  .text-footerp {
    text-align: center;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: #fff;
    /*position:fixed;
    bottom: 0;
    width: 100%;*/
    background-color: #000;
  }  